body{
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

h1{
  margin: 2em .5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

label{
  margin: .5em;
  font-weight: 400;
}

#myInput{
 padding: .5em;
  margin: 1em;
}

#myButton{
  padding: 1em 2em;
  border-radius: 1em;
  margin-left: 2em;
  cursor: pointer;
  background-color: aquamarine;
  color:black;
}

.active{
 font-size: 50px;
 text-align: center;
 color: red;
 font-weight: bold;
}
#myVerdict {
  white-space: pre-line;
}
.hidden{
  display: none;
}